/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #1a2530;
    color: #d1d9e6;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Navbar */
.navbar {
    background-color: #343a40 !important;
    justify-content: end;
}
.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.1);
}

/* Sidebar (SIEMPRE VISIBLE EN PC, OCULTO EN MÓVILES) */
.sidebar {
    width: min(250px, 20vw);
    height: 100vh;
    background: #343a40;
    padding-top: 5px;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
}

/* Sidebar Header (Menú y Botón Cerrar) */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    display: none; /* La 'X' solo se verá en móviles */
}

/* Estilos de los enlaces del Sidebar */
.sidebar a {
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}
.sidebar a:hover {
    background: #495057;
}


/* Ajustes de Contenido */
.content {
    margin-left: min(250px, 20vw);
    padding: 20px;
    flex-grow: 1;
}

.container {
    max-width: 900px;
    background: #252f3f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1, h2 {
    color: #84c0ff;
}

h1{
    text-align: center;
}

/* Ajustes de imágenes */
img {
    width: 100%;
    height: auto;
    object-fit: contain; /* Asegura que la imagen no se deforme */
}


/* 💻💡 RESPONSIVE (MÓVILES: OCULTAR SIDEBAR) */
@media (max-width: 768px) {
    .sidebar {
        left: -100%;
        width: 100%;
    }
    .sidebar.active {
        left: 0;
    }
    .content {
        margin-left: 0;
    }
    .close-btn {
        display: block; /* Ahora la 'X' es visible en móviles */
    }
}


/* Notas y alertas */
.note-alert {
    background: #2a3b4d;
    padding: 10px;
    border-left: 5px solid #00b894;
    margin: 10px 0;
    border-radius: 5px;
}

.alert-alert {
    background: #2a3b4d;
    padding: 10px;
    border-left: 5px solid #ff7675;
    margin: 10px 0;
    border-radius: 5px;
}

.success-alert {
    background: #2a3b4d;
    padding: 10px;
    border-left: 5px solid #38b000;
    margin: 10px 0;
    border-radius: 5px;
}


.warning-alert {
    background: #2a3b4d;
    padding: 10px;
    border-left: 5px solid #f39c12;
    margin: 10px 0;
    border-radius: 5px;
}

.info-alert {
    background: #2a3b4d;
    padding: 10px;
    border-left: 5px solid #00b8d8;
    margin: 10px 0;
    border-radius: 5px;
}


